@model CompanyModel

<div class="row">
    <div class="col-12">
        <form asp-area="Admin" asp-controller="Company" asp-action="Delete" method="post">
            <input asp-for="@Model.Email" hidden />
            <!-- Hidden Field for ID -->
            <input asp-for="@Model.Id" hidden />

            <div class="form-group">
                <label asp-for="@Model.CompanyName" class="control-label"></label>
                <input asp-for="@Model.CompanyName" class="form-control" readonly />
               
            </div>

            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" class="form-control" readonly />
           
            </div>

            <div class="form-group">
                <label asp-for="@Model.PhoneNumber" class="control-label"></label>
                <input asp-for="@Model.PhoneNumber" class="form-control" readonly />
               
            </div>

            <div class="form-group">
                <label asp-for="@Model.PresentAddress" class="control-label"></label>
                <input asp-for="@Model.PresentAddress" class="form-control" readonly />
                
            </div>

            <div class="form-group">
                <label asp-for="@Model.ParmanentAddress" class="control-label"></label>
                <input asp-for="@Model.ParmanentAddress" class="form-control" readonly />
                
            </div>

            <div class="form-group">
                <label asp-for="@Model.PostalCode" class="control-label"></label>
                <input asp-for="@Model.PostalCode" class="form-control" readonly />
                
            </div>

            <div class="form-group">
                <label asp-for="@Model.EstablishedDate" class="control-label"></label>
                <input asp-for="@Model.EstablishedDate" type="date" class="form-control" readonly />
         
            </div>
            <!-- Submit and Back Buttons -->
            <div class="form-group my-2">
                <button type="submit" class="btn btn-primary btn-sm mx-1">
                    delete
                </button>
                <a asp-area="Admin" asp-controller="Company" asp-action="Index" class="btn btn-dark btn-sm mx-1">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
